<html style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>DPR offices - DPR PPIPS</title>
    <link rel="stylesheet" href="/Content/bootstrap.css">

    <link rel="stylesheet" href="/Content/MainStyle.css">

    <link rel="stylesheet" href="/Content/otherStyle.less">


    <link href="/Content/Images/coat-of-arm.jpg" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/Content/jquery.dataTables.css">
    <link rel="stylesheet" href="/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/Content/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-62171296-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script charset="utf-8" class="lazyload" src="https://livezilla.dpr.gov.ng/templates/jscript/jsbox.js"></script>
    <script charset="utf-8" class="lazyload" src="https://livezilla.dpr.gov.ng/templates/jscript/jsglobal.js"></script>
    <script charset="utf-8" class="lazyload" src="https://livezilla.dpr.gov.ng/templates/jscript/jstrack.js"></script>
    <link charset="utf-8" class="lazyload" href="https://livezilla.dpr.gov.ng/templates/overlays/chat/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .lz_chat_mail {
            color: #55a00a !important;
        }

        .lz_chat_link {
            color: #55a00a !important;
        }

        .lz_chat_file {
            color: #55a00a !important;
        }

        .lz_chat_human {
            color: #55a00a !important;
        }

        .lz_con_inf {
            color: #55a00a !important;
            font-weight: bold;
        }
    </style>
    <script charset="utf-8" class="lazyload" src="https://livezilla.dpr.gov.ng/templates/overlays/chat/jscript/jsextern.js"></script>
    <link charset="utf-8" class="lazyload" href="https://livezilla.dpr.gov.ng/templates/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top shadow">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="/Content/images/importlogo.png"></a>

            </div>
            <div class="navbar-collapse collapse">

                @*<ul class="nav navbar-nav navbar-right">
                    <li><a id="registerLink" href="/Account/Register">Register</a></li>
                    <li><a id="loginLink" href="/Login">Log in</a></li>
                </ul>*@

            </div>
        </div>
    </div>
    <div id="main" class="container">



        <div class="">
            <div class="row">
                <div class="col-md-5">
                    <h3>DPR HeadQuaters</h3>
                    <hr>
                    <p>
                        7, Kofo ABayomi Street, Victoria Island,<br>
                        Lagos State.
                    </p>
                    <p>
                        <b>Telephone:</b> +234 (1) 2790000, + 234 (1) 9037150<br>
                        <b>Email:</b> ppips@dpr.gov.ng
                    </p>
                    <hr>
                    <h4>Head Public Affairs Unit (PAU)</h4>
                    <hr>
                    <p>
                        <b>Dorothy Bassey (Ms)</b>
                    </p>
                    <p>
                        <b>Telephone:</b> +234 (1) 2790000, + 234 (1) 9037150 Ext. 50988<br>
                        <b>Mobile:</b> +234(0)805 609 9175<br>
                        <b>Email:</b> bassey.d.e@dpr.gov.ng<br>
                        <b>Alternate:</b> dorothybassey@hotmail.com
                    </p>
                </div>
                <div class="col-md-7">
                    <iframe frameborder="0" style="border:0; position: relative; width: 100%; min-height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3964.6697580055315!2d3.4143157000000057!3d6.436444600000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8ad6f06c87a9%3A0x764d72875b785de7!2s7+Kofo+Abayomi+St%2C+Lagos!5e0!3m2!1sen!2sng!4v1429781625299"></iframe>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-12">
                    <p>
                        For effective coverage of the whole country, DPR maintains several Zonal and 15 Field Offices in different parts of the country.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>Zonal Offices</h3>
                    <div id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#accordion" data-toggle="collapse" href="#zLagos">Lagos</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="zLagos">
                                <div style="white-space: pre-line" class="panel-body ">
                                    <b>Mrs. C.N. Njoku</b>
                                    Department of Pet. Resources,
                                    5, Kofo Abayomi Street, Victoria Island, Lagos.
                                    <b>Tel:</b> 0805 829 8819
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#accordion" data-toggle="collapse" href="#zAbuja">Abuja</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="zAbuja">
                                <div style="white-space: pre-line" class="panel-body ">
                                    <b>Mr. M.A. Usman</b>
                                    Department of Pet. Resources,
                                    7, Sylvestre Ugoh Cresent Jabi, Abuja.
                                    <b>Tel:</b> 0805 829 8865
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#accordion" data-toggle="collapse" href="#zPH">Port Harcourt</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="zPH">
                                <div style="white-space: pre-line" class="panel-body ">
                                    <b>Mrs.O.C. Sibeudu</b>
                                    Department of Pet. Resources,
                                    4-9, Moscow Road, NNPC, PH.
                                    <b>Tel:</b> 0805 609 9183
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#accordion" data-toggle="collapse" href="#zWarri">Warri</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="zWarri">
                                <div style="white-space: pre-line" class="panel-body ">
                                    <b>Mr. O.A. Adeleke</b>
                                    Department of Pet. Resources,
                                    19/21, Warri Sapale road, Delta state.
                                    <b>Tel:</b> 0805 829 8847
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#accordion" data-toggle="collapse" href="#zKaduna">Kaduna</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="zKaduna">
                                <div style="white-space: pre-line" class="panel-body ">
                                    <b>Mr. M.F. Jahun</b>
                                    Department of Pet. Resources,
                                    24, Gobarau road, GRA, Kaduna State.
                                    <b>Tel:</b> 0805 829 8860
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#accordion" data-toggle="collapse" href="#zMaiduguri">Maiduguri</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="zMaiduguri">
                                <div style="white-space: pre-line" class="panel-body ">
                                    Department of Pet. Resources,
                                    Bama Road, Sports Council, Maiduguri.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-parent="#accordion" data-toggle="collapse" href="#zOwerri">Owerri</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="zOwerri">
                                <div style="white-space: pre-line" class="panel-body ">
                                    <b>Mr. I.N. Akpamgbo</b>
                                    Department of Pet. Resources,
                                    1, Chief Patrick Esomonu Avenue, Owerri, Imo state.
                                    <b>Tel:</b> 0805 609 9185
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3>Field Offices</h3>
                    <div class="col-md-6">
                        <div id="accordion1" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion1" data-toggle="collapse" href="#fIbadan">Ibadan</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fIbadan">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr I.O. Ogunlana</b>
                                        Department of Pet. Resources,
                                        No 1, E.E. Nwanagu Close, State Hospital area, Ring Road, Ibadan, Oyo state.
                                        <b>Tel:</b> 0807 069 0636
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion1" data-toggle="collapse" href="#fIlorin">Ilorin</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fIlorin">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. A.O. Jokodola</b>
                                        Department of Pet. Resources,
                                        19A, Nupe road, GRA Ilorin, Kwara State.
                                        <b>Tel:</b> 0805 520 2657
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion1" data-toggle="collapse" href="#fJos">Jos</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fJos">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. I.Y. Abubakar</b>
                                        Department of Pet. Resources,
                                        9, Wamba road, Tudun wada GRA, PMB 2152.
                                        <b>Tel:</b> 0805 829 8855
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion1" data-toggle="collapse" href="#fLokoja">Lokoja</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fLokoja">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. Salvation Philip</b>
                                        Department of Pet. Resources,
                                        No 6, Aniebo Quarters, Off Ganaja Road, Lokoja Kogi state.
                                        <b>Tel:</b> 0815 061 8402
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion1" data-toggle="collapse" href="#fAba">Aba</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fAba">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>O.U. Ogwo</b>
                                        Department of Pet. Resources,
                                        Pring Towers. 229, Aba/Owerri Road, Abia State.
                                        <b>Tel:</b> 0805 669 6574
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion1" data-toggle="collapse" href="#fEket">Eket</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fEket">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. A.E. Antai</b>
                                        Department of Pet. Resources,
                                        6, Ekpene Ukpa Avenue, Eket, Akwa Ibom State.
                                        <b>Tel:</b> 0805 749 3258
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion1" data-toggle="collapse" href="#fAkure">Akure</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fAkure">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. M.A. Oseni</b>
                                        Department of Pet. Resources,
                                        Plot B &amp; C, Ondo state Industrial Layout, Ilesha/Owo express way, Akure, Ondo State.
                                        <b>Tel:</b> 0805 649 7117
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="accordion2" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion2" data-toggle="collapse" href="#fKano">Kano</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fKano">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mrs. Isah Tafida</b>
                                        Department of Pet. Resources,
                                        146, Shehu Kazaure Road, Hotoro GRA, Kano State.
                                        <b>Tel:</b> 0815 061 8402
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion2" data-toggle="collapse" href="#fSokoto">Sokoto</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fSokoto">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. U.S. Moriki</b>
                                        Department of Pet. Resources,
                                        No 3, Sultan Ibrahim Dasuki Road, Sokoto State.
                                        <b>Tel:</b> 0805 609 9187
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion2" data-toggle="collapse" href="#fYola">Yola</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fYola">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. Idris Zoaka Ali</b>
                                        Department of Pet. Resources,
                                        39, Polise Barracks road, Karewa New Extension, GRA, Jimeta Yola.
                                        <b>Tel:</b> 0807 069 0650
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion2" data-toggle="collapse" href="#fMakurdi">Makurdi</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fMakurdi">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. Abdullahi Isah</b>
                                        Department of Pet. Resources,
                                        Plot Bn 031, Ankpa Quarters, GRA, Makurdi Benue State.
                                        <b>Tel:</b> 0805 669 6578
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion2" data-toggle="collapse" href="#fGombe">Gombe</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fGombe">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Z.M. Aji</b>
                                        Department of Pet. Resources,
                                        Alh. Aliyumuh'd Plaza, Bauchi Road, Bauchi State.
                                        <b>Tel:</b> 0807 069 0633
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion2" data-toggle="collapse" href="#fEnugu">Enugu</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fEnugu">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>P.I. Ijeh</b>
                                        Department of Pet. Resources,
                                        Plot 1, Enugu/PH express way, near NNPC mega station, Enugu state.
                                        <b>Tel:</b> 0807 069 0611
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion2" data-toggle="collapse" href="#fYenagoa">Yenagoa</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fYenagoa">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. U.B. Nkanga</b>
                                        Department of Pet. Resources,
                                        Bayelsa State Secretariat Annex II, Yenagoa, Bayelsa State.
                                        <b>Tel:</b> 0805 669 6566
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion2" data-toggle="collapse" href="#fKatsina">Katsina</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="fKatsina">
                                    <div style="white-space: pre-line" class="panel-body ">
                                        <b>Mr. M.A. Sani</b>
                                        Department of Pet. Resources,
                                        Katsina State Secretariat, Old Ministry of Works, Housing block, Katsina State.
                                        <b>Tel:</b> 0807 0690635
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- LiveZilla Tracking Code (ALWAYS PLACE IN BODY ELEMENT) --><div style="display:none" id="livezilla_tracking">
        <script async="" type="text/javascript" src="https://livezilla.dpr.gov.ng/server.php?a=12950&amp;request=track&amp;output=jcrpt&amp;ovlp=MjI_&amp;ovlc=IzczYmUyOA__&amp;ovlct=I2ZmZmZmZg__&amp;ovlt=T25saW5lIC0gQ2hhdCB3aXRoIHVz&amp;ovlto=T2ZmbGluZSAtIExlYXZlIGEgbWVzc2FnZQ__&amp;ovls=MQ__&amp;eca=MQ__&amp;ecw=Mjgw&amp;ech=OTA_&amp;ecmb=Mjc_&amp;echt=UXVlc3Rpb25zPw__&amp;echst=Q2hhdCB3aXRoIHVzIGxpdmU_&amp;ecoht=UXVlc3Rpb25zPw__&amp;ecohst=UGxlYXNlIGxlYXZlIGEgbWVzc2FnZQ__&amp;ecfs=I0YwRkZENQ__&amp;ecfe=I0QzRjI5OQ__&amp;echc=IzZFQTMwQw__&amp;ecslw=Mg__&amp;ecsgs=IzY1OUYyQQ__&amp;ecsge=IzczQkUyOA__&amp;ecsa=MQ__&amp;ecsb=NA__&amp;ecsx=Mw__&amp;ecsy=Mw__&amp;ecsc=IzQ2NDY0Ng__&amp;nse=0.7339766017484362"></script></div>
        <script type="text/javascript">
            var script = document.createElement("script"); script.async = true; script.type = "text/javascript"; var src = "https://livezilla.dpr.gov.ng/server.php?a=12950&amp;request=track&amp;output=jcrpt&amp;ovlp=MjI_&amp;ovlc=IzczYmUyOA__&amp;ovlct=I2ZmZmZmZg__&amp;ovlt=T25saW5lIC0gQ2hhdCB3aXRoIHVz&amp;ovlto=T2ZmbGluZSAtIExlYXZlIGEgbWVzc2FnZQ__&amp;ovls=MQ__&amp;eca=MQ__&amp;ecw=Mjgw&amp;ech=OTA_&amp;ecmb=Mjc_&amp;echt=UXVlc3Rpb25zPw__&amp;echst=Q2hhdCB3aXRoIHVzIGxpdmU_&amp;ecoht=UXVlc3Rpb25zPw__&amp;ecohst=UGxlYXNlIGxlYXZlIGEgbWVzc2FnZQ__&amp;ecfs=I0YwRkZENQ__&amp;ecfe=I0QzRjI5OQ__&amp;echc=IzZFQTMwQw__&amp;ecslw=Mg__&amp;ecsgs=IzY1OUYyQQ__&amp;ecsge=IzczQkUyOA__&amp;ecsa=MQ__&amp;ecsb=NA__&amp;ecsx=Mw__&amp;ecsy=Mw__&amp;ecsc=IzQ2NDY0Ng__&amp;nse=" + Math.random(); setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)", 1);</script><noscript>&lt;img src="https://livezilla.dpr.gov.ng/server.php?a=12950&amp;amp;request=track&amp;amp;output=nojcrpt" width="0" height="0" style="visibility:hidden;" alt=""&gt;</noscript><!-- http://www.LiveZilla.net Tracking Code -->

    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalPopup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 class="modal-title" id="myModalLabel">Modal header</h3>
                </div>
                <div id="modalBody">
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button aria-hidden="true" data-dismiss="modal" class="btn">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/jquery.dataTables.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>

    <script src="/Scripts/moment.js"></script>
    <script src="/Scripts/bootstrap-datepicker.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="/Scripts/ogis.js"></script>




    <div id="lz_overlay_chat" style="position: fixed; height: 31px; width: 280px; overflow: hidden; z-index: 960; cursor: move; margin: 0px; opacity: 1; left: 1066px; bottom: 0px; right: auto; top: auto;">
        <div style="background-image:url('https://livezilla.dpr.gov.ng/templates/overlays/chat/images/lz_chat_shadow_bg.png');" class="lz_chat_base notranslate" id="lz_chat_overlay_main">
            <div id="lz_chat_content">
                <div onclick="lz_chat_change_state(true,false);" style="display:none;" id="lz_chat_waiting_messages">
                    <div style="display:none;" id="lz_chat_waiting_message_count">&nbsp;0&nbsp;</div>
                </div>
                <table cellspacing="0" cellpadding="0" class="lz_chat_content_table">
                    <tbody>
                        <tr>
                            <td height="25">
                                <div style="position:absolute;top:7px;left:6px;height:25px;width:265px;z-index:100015;background:#73be28;color:#ffffff;" cellspacing="0" cellpadding="0">
                                    <div class="lz_overlay_chat_gradient">
                                        <div onclick="lz_chat_change_state(true,false);" style="color:#ffffff;" id="lz_chat_overlay_text">Offline - Leave a message</div>
                                        <div onclick="lz_chat_change_state(true,true);" id="lz_chat_minimize">
                                            <div style="border-bottom:3px solid #ffffff;display:none;" id="lz_chat_state_change"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:252px;vertical-align:top;" class="unmovable">
                                <div id="lz_chat_loading" style="display: none;"><br><br><br><br><br>Loading ...</div>
                                <div id="lz_chat_state_bar" style="display: none;"><a onclick="lz_chat_close();" class="lz_decline_link">Close</a></div>
                                <div onscroll="lz_chat_scroll();" class="unmovable lz_chat_content_box_fh" style="display:none;" id="lz_chat_content_box">
                                    <div class="unmovable" id="lz_chat_content_inlay" style="width: 255px;">
                                        <div>
                                            <table cellspacing="0" cellpadding="0" class="lz_overlay_chat_status">
                                                <tbody>
                                                    <tr>
                                                        <td class="lz_overlay_chat_status_inner">
                                                            Sorry, our team is currently offline.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><div style="line-height: 8px; height: 8px;" id="xspacer"></div>
                                </div>
                                <div style="display:none;" id="lz_chat_overlay_options_box_bg"></div>
                                <div style="display:none;" id="lz_chat_overlay_options_frame">
                                    <div style="display:none;border-spacing:0px;border:1px solid #73be28;" id="lz_chat_overlay_options_box">
                                        <div style="background:#73be28;" class="lz_chat_overlay_options_box_base" id="lz_chat_overlay_option_title">Options</div>
                                        <div class="lz_chat_overlay_options_box_base" style="top:36px;left:16px;">Name:<span class="lz_overlay_chat_required" id="lz_chat_overlay_options_required_name">Required</span></div>
                                        <div class="lz_chat_overlay_options_box_base" style="top:51px;left:16px;"><input type="text" onkeydown="if(event.keyCode==13){return lz_chat_process_input(this.id,true);}" value="" class="lz_chat_overlay_text lz_chat_overlay_options_text" id="lz_chat_overlay_options_name"></div>
                                        <div class="lz_chat_overlay_options_box_base" style="top:86px;left:16px;">Email:<span class="lz_overlay_chat_required" id="lz_chat_overlay_options_required_email">Required</span></div>
                                        <div class="lz_chat_overlay_options_box_base" style="top:101px;left:16px;"><input type="text" onkeydown="if(event.keyCode==13){return lz_chat_process_input(this.id,true);}" class="lz_chat_overlay_text lz_chat_overlay_options_text" id="lz_chat_overlay_options_transcript"></div>
                                        <div class="lz_chat_overlay_options_box_base" style="top:140px;left:16px;height:65px;width:200px;background:#ebebeb;border-radius:3px;display:none;">
                                            <div class="lz_chat_overlay_options_box_base" style="top:7px;left:8px;width:18px;"><input type="checkbox" value="" onclick="lz_chat_change_translation();" id="lz_chat_overlay_options_trans"></div>
                                            <div class="lz_chat_overlay_options_box_base" style="top:7px;left:26px;">Use Auto-Translation Service. My language is:<select disabled="" onclick="lz_chat_change_translation();" id="lz_chat_overlay_options_language" style="color:#73be28;"><option value="sq">Albanian</option><option value="ar">Arabic</option><option value="bg">Bulgarian</option><option value="ca">Catalan</option><option value="zh-tw">Chinese (Traditional)</option><option value="zh-cn">Chinese (Simplified)</option><option value="hr">Croatian</option><option value="cs">Czech</option><option value="da">Danish</option><option value="nl">Dutch</option><option selected="" value="en">English</option><option value="et">Estonian</option><option value="fi">Finnish</option><option value="fr">French</option><option value="gl">Galician</option><option value="de">German</option><option value="el">Greek</option><option value="he">Hebrew</option><option value="hi">Hindi</option><option value="hu">Hungarian</option><option value="is">Icelandic</option><option value="id">Indonesian</option><option value="ga">Irish</option><option value="it">Italian</option><option value="ja">Japanese</option><option value="ko">Korean</option><option value="lv">Latvian</option><option value="lt">Lithuanian</option><option value="mk">Macedonian</option><option value="ms">Malay</option><option value="mt">Maltese</option><option value="fa">Persian</option><option value="pl">Polish</option><option value="pt">Portuguese</option><option value="pt-br">Portuguese (Brazil)</option><option value="ro">Romanian</option><option value="ru">Russian</option><option value="sr">Serbian</option><option value="sk">Slovak</option><option value="sl">Slovenian</option><option value="es">Spanish</option><option value="sw">Swahili</option><option value="sv">Swedish</option><option value="th">Thai</option><option value="tr">Turkish</option><option value="uk">Ukrainian</option><option value="vi">Vietnamese</option><option value="cy">Welsh</option><option value="yi">Yiddish</option></select></div>
                                        </div>
                                        <div class="lz_chat_overlay_options_box_base" style="left:14px;width:18px;bottom:14px;"><input type="checkbox" value="" id="lz_chat_overlay_options_sound"></div>
                                        <div class="lz_chat_overlay_options_box_base" style="left:33px;bottom:14px;">Sounds</div>
                                        <div class="lz_chat_overlay_options_box_base" style="right:12px;bottom:10px;"><div onclick="lz_chat_switch_options(false);" class="lz_overlay_chat_button">Save</div></div>
                                    </div>
                                </div>
                                <div style="" id="lz_chat_overlay_ticket">
                                    <table cellspacing="0" cellpadding="0" align="center" style="width:90%;display:none;margin: 0 auto;" id="lz_chat_ticket_received">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <br><br>
                                                    <table cellspacing="0" cellpadding="0" align="center" class="lz_overlay_chat_ticket_response" id="lz_ticket_received">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <b>Thank you!</b><br>We have received your message and will be responding to your enquiry as soon as possible.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table cellspacing="0" cellpadding="0" align="center" class="lz_overlay_chat_ticket_response" id="lz_ticket_flood">
                                                        <tbody>
                                                            <tr>
                                                                <td style="color:#cc3333;">
                                                                    <strong>You have sent too many messages. Please wait some time and try again.</strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <br>
                                                    <div onclick="lz_chat_ticket_display(true);" class="lz_overlay_chat_button">Back</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="lz_chat_ticket_form">
                                        <div class="lz_chat_overlay_options_box_base lz_overlay_chat_ticket_header" style="top:0px;left:0px;">
                                            <div id="lz_chat_ticket_header_text"><b>Please leave a message</b><br>Leave a message and we will come back to you shortly. Please provide as many details as possible along with your contact information.</div>
                                        </div>
                                        <div class="lz_chat_overlay_options_box_base" style="top:96px;left:15px;">
                                            <span class="lz_overlay_chat_caption">Name:</span><span style="display:none;" class="lz_overlay_chat_required" id="lz_chat_overlay_ticket_required_name">Required</span>
                                            <input type="text" class="lz_chat_overlay_text" onkeydown="lz_leave_message_required=true;if(event.keyCode==13){return lz_chat_process_input(this.id,false);}" id="lz_chat_overlay_ticket_name">
                                        </div>
                                        <div class="lz_chat_overlay_options_box_base" style="top:142px;left:15px;">
                                            <span class="lz_overlay_chat_caption">Email:</span><span style="display:none;" class="lz_overlay_chat_required" id="lz_chat_overlay_ticket_required_email">Required</span>
                                            <input type="text" class="lz_chat_overlay_text" onkeydown="lz_leave_message_required=true;if(event.keyCode==13){return lz_chat_process_input(this.id,false);}" id="lz_chat_overlay_ticket_email">
                                        </div>
                                        <div class="lz_chat_overlay_options_box_base" style="top:188px;left:15px;">
                                            <span class="lz_overlay_chat_caption">Your Question:</span><span style="display:none;" class="lz_overlay_chat_required" id="lz_chat_overlay_ticket_required_message">Required</span>
                                            <textarea style="height:60px;" class="lz_chat_overlay_text" onkeydown="lz_leave_message_required=true;" onkeyup="lz_overlay_chat_impose_max_length(this, 600);" onchange="lz_overlay_chat_impose_max_length(this, 600);" type="text" id="lz_chat_overlay_ticket_message"></textarea>
                                        </div>
                                        <div onclick="lz_chat_message_return();" id="lz_chat_overlay_ticket_back_button" class="lz_chat_overlay_options_box_base lz_overlay_chat_button" style="top:278px;left:15px;display:none;">Back</div>
                                        <div onclick="lz_chat_send_ticket();" id="lz_chat_overlay_ticket_button" class="lz_chat_overlay_options_box_base lz_overlay_chat_button" style="top:278px;right:14px;">Send message</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:22px;vertical-align:middle;"><div id="lz_chat_overlay_info" class="">Press <em>ENTER</em> to send your message</div></td>
                        </tr>
                        <tr>
                            <td style="height:42px;text-align:center;vertical-align:top;">
                                <img style="margin-top:5px;display:none;" id="lz_bot_reply_loading" src="https://livezilla.dpr.gov.ng/images/chat_loading.gif">
                                <textarea style="height:33px;resize: none;" class="lz_chat_overlay_text" id="lz_chat_text" onkeyup="lz_overlay_chat_impose_max_length(this, 600);" onchange="lz_overlay_chat_impose_max_length(this, 600);" onkeydown="if(event.keyCode==13){return lz_chat_message(null,null);}else{lz_chat_switch_extern_typing(true);return true;}"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="lz_chat_overlay_options_box_base lz_overlay_chat_footer" style="bottom:3px;left:10px;">
                <table align="center" style="border-spacing:0px;">
                    <tbody>
                        <tr>
                            <td nowrap="" class="lz_overlay_chat_options_link" id="lz_overlay_chat_options_button" onclick="javascript:lz_chat_switch_options(false,false);">Options</td>
                            <td class="lz_overlay_chat_options_link" onclick="javascript:lz_chat_pop_out();" id="lz_chat_apo" style="font-weight: normal; display: none; visibility: visible;">PopOut</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="lz_chat_overlay_options_box_base lz_overlay_chat_footer" style="bottom:3px;right:3px;">
                <table align="center" style="border-spacing:0px;">
                    <tbody>
                        <tr>
                            <td style="text-align:right;"><a target="_blank" href="https://www.ppips.dpr.gov.ng/" class="lz_overlay_chat_options_link" id="lz_chat_cl">LiveZilla</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><div id="lz_eye_catcher" style="position: fixed; height: 90px; width: 280px; overflow: hidden; z-index: 960; cursor: move; margin: 0px; opacity: 1; left: 1066px; bottom: 27px; right: auto; top: auto;">
        <div style="display:none;" id="lz_overlay_eyecatcher" onclick="lz_chat_change_state(true,false);">
            <div style="z-index:10003;margin-left:8px;padding:16px 0px 0px 16px;font-size:20px;z-index:10003;font-weight:bold;color:#6EA30C;" id="lz_ec_header_text">Questions?</div>
            <div style="width:88%;margin:0px 0px 0px 8px;opacity:0.95;z-index:10003;padding:43px 0px 0px 16px;font-size:14px;font-weight:normal;color:#6EA30C;" id="lz_ec_sub_header_text">Please leave a message</div>
            <span onclick="lz_tracking_remove_eye_catcher(event, this);" style="z-index:10013;color:#6EA30C;" id="lz_overlay_eyecatcher_close">x</span>
            <canvas height="90" width="280" id="lz_overlay_eyecatcher_shadow" style="z-index:10001;"></canvas>
            <canvas height="90" width="280" id="lz_overlay_eyecatcher_bubble" style="z-index:10002;"></canvas>
        </div>
    </div>
</body>
</html>