
@{
    ViewBag.Title = "GeneralInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">General information</h4>
    </div>
</div>


<div style="width:550px; float:left">

    <p>
        1.	Services provided on Petroleum Products Import Permit System (PPIPS) cover the following Permit categories:<br />
        <strong>
            (a)	Trucking <br />
            (b)	Coastal vessels
        </strong><br />
        <br />
        2.	The applications can be submitted online at any time<br />
        <br />
        3.	As applicable on other DPR licenses &amp; permits, application fees payments are non-refundable.<br />
        <br />
        4.	DPR will not indemnify any applicant against any loss arising from using unauthorized person(s) or processes for filing official applications.<br />
        <br />
        5.	Uploading or tendering of forged or fake documents would result in voiding the application and forfeiture of all statutory fees paid for the process<br />
        6.	The guidelines &amp; procedures on the application process are subject to review or change without notice
    </p>
</div>



