
﻿
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Privacy Policy</h4>
    </div>
</div>

<div style="width:550px; float:left">
    <p>
        Thank you for accessing the PPIPS website  operated by the Import Permit Division of the Department of Petroleum Resources  (DPR) Nigeria. We respect your privacy and want to protect your personal  information. To learn more, please read this Privacy Policy<br />
        We believe your business is no one else’s  business. Your privacy is important to you and to us. So we’ll protect the  information you share with us. To protect your privacy, DPR PPIPS follows  different principles in accordance with worldwide practices for customer  privacy and data protection.<br />
        ·We won’t sell or giveaway your name, email  address, phone number, email, Company name, or any other information to anyone. <br />
        ·We’ll use state-of-the-art security measures to  protect your information from unauthorized users.
    </p>
    <h1>NOTICE</h1>
    <p>
        We will ask you when we need information and  documents that identify you (Personal information) and your business (Company  Information) to allow us process your application and contact you. Generally,  this information is requested when you create an account, and fill permit  application forms on the site. We use your Personal and Business information  for these purposes:<br />
        To process your online permit applications<br />
        To alert you on the status of your permits and  give you updated information on new services.
    </p>
    <h1>CONSENT</h1>
    <p>
        To access the online application form for permits  and the portal to manage your permits, you will be required to register on the PPIPS  website. Without registration, you will not be allowed access into the portal.<br />
        If you decide not to register, you can still use  some of the features of the PPIPS online system such as permit verification,  and access to chat with PPIPS support personnel for enquiries.<br />
        When you register, you will instantly gain full  access to apply for permit(s), manage your permit(s) online, and get notified  before your permit(s) expires for quick renewal online.
    </p>
    <h1>ACCESS</h1>
    <p>
        We will provide you with the means to ensure that  your business and personal information, as well as your licenses and permits  are correct and current. You may review and update this information at any time  from your User dashboard within the PPIPS system. There, you can:<br />
        ·View and edit company information you have  previously given us. <br />
        ·Update the documents already uploaded <br />
        ·Apply for new permits and renew existing ones.
    </p>
    <h1>SECURITY</h1>
    <p>
        DPR PPIPS has taken strong measures to protect  the security of your company information and to ensure that your choices for  its intended use are honored. We take strong precautions to protect your data  from loss, misuse, unauthorized access or disclosure, alteration, or  destruction.<br />
        When we collect data through the site, we collect  your company information on a secure server. We use firewalls on our servers.  When we collect payment card details electronically, we use encryption by using  Secure Socket Layers (SSL) coding. We guarantee 100% security for your  information and your transactions.<br />
        You are strongly recommended not to send full  debit card details in unencrypted electronic communications with us. We  maintain physical, electronic and procedural safeguards in collection, storage,  and disclosure of your information.<br />
        Your personal information is never shared outside  the office without permission. Inside the company, data is stored in a password  controlled server with limited access.<br />
        You also have a significant role in protecting  your information. No one can see or edit your company/personal information  without knowing your username and password ensure that they are kept safe and  do not share with others.
    </p>
    <h1>ENFORCEMENT</h1>
    <p>If for some reason you believe DPR PPIPS has not  adhered to these principles, please notify us by email at <a href="mailto:privacy@ogisp.dpr.gov.ng">privacy@ppips.dpr.gov.ng</a>, and we  will do our best to determine and correct the problem promptly. Be certain the  words Privacy Policy are in the Subject line.</p>
    <h1>YOUR RIGHT</h1>
    <p>If you are concerned about your data you have the  right to request access to the personal data which we may hold or process about  you. You have the right to require us to correct any inaccuracies in your data  free of charge.</p>
</div>
