
<br />
<br />
<br />
<br/>
<br/>
<br/>
<h4>Process Throughput</h4>


<fieldset style="background: whitesmoke; width: 100%; border: 3px solid #27ae60; min-height: 40%" ng-controller="processDocumentController" ng-init="initializeController()">
    <br />
    <div class="row" style="margin-top: 2px;">
        <div class="col-md-12 alert alert-danger" role="alert" ng-show="isError === true">
            <span class="col-md-11">{{appError}}</span><span class="col-md-1" style="font-size: 20px; text-align: left; cursor: pointer" title="close" ng-click="appError = '';isError = false;">x</span>
        </div>
        <div class="col-md-12 alert alert-success" role="alert" ng-show="isSuccess === true">
            <span class="col-md-11">{{appSuccess}}</span><span class="col-md-1" style="font-size: 20px; text-align: left; cursor: pointer" title="close" ng-click="appSuccess = '';isSuccess = false;">x</span>
        </div>
        <br />
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <h4><b>Product Details</b></h4>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <div class="col-md-3">
                    <label>Company</label>
                </div>
                <div class="col-md-9">
                    <label class="control-label" style="float: left">{{applicationItem.ImporterName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label ">Product:</label>
                </div>
                <div class="col-md-9">
                    <label class="control-label ">{{applicationItem.ProductName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Pyment Reference Code(RRR)</label>
                </div>
                <div class="col-md-8">
                    <label class="control-label">{{application.ReferenceCode}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label ">Quantity(MT):</label>
                </div>
                <div class="col-md-9">
                    <label class="control-label ">{{applicationItem.EstimatedQuantityStr}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label ">Value($):</label>
                </div>
                <div class="col-md-9">
                    <label class="control-label ">{{applicationItem.EstimatedValueStr}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label ">Country of Origin:</label>
                </div>
                <div class="col-md-9">
                    <label class="control-label ">{{applicationItem.CountryOfOriginName}}</label>
                </div>
            </div>
        </div>
        <br />

        <div class="col-md-12">
            <h4>Throughput Agreement Information: </h4>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label class="control-label "> Quantity*</label>
                <input type="text" data-ng-model="throughput.Quantity" class="form-control" ui-number-mask="0" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-right: 0px">
                <label class="control-label ">Throughput Document</label>
                <input type="file" class="form-control" ng-class="genClass" ng-disabled="processinLt === true" ng-file-select="saveDocToSession($event)" placeholder="Select Throughput Document " name="file" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label "> Comment</label>
                <textarea data-ng-model="throughput.Comment" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <br />
                <button class=" btn btn-default" ng-click="processThroughput()" ng-disabled="processinLt === true" style="margin-top: 7px; float: left; color: #000">Save</button>
            </div>
            <div class="col-md-10">
            </div>
        </div>

    </div>
    <br />
</fieldset>

<br/><br/>

 

