
@{
    ViewBag.Title = "Account Creation Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="col-md-12">
    <h2>Account Created Successfully</h2>
</div>
    <br /><br />
    <div class="col-md-12">
        <p>
            Your account was successfully created. A confirmation Email has also been sent to @ViewBag.Email<br />Please click on the link provided on the Email to activate your account.<br />Thank You.
        </p>
    </div>
