

<div class="row fsEdit" style="visibility: visible; width: 100%" ng-controller="productController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{prod.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form method="POST">
            <div class="row">
                <label class="control-label ">Product Name *</label>
                <input type="text" data-ng-model="prod.Name" class="form-control"/>
            </div>
            <div class="row">
                <label class="control-label "> Product Code *</label>
                <input type="text" data-ng-model="prod.Code" class="form-control"/>
            </div>
            <div class="row">
                <label class="control-label "><input type="checkbox" data-ng-model="prod.Availability"/>&nbsp; Is Product Available?</label>
            </div>
            <div class="row">
                <div class="row">
                    <h3>Product Requirement(s)</h3>
                </div>
                <div class="row" isteven-multi-select
                     input-model="docTypes"
                     output-model="prodReqs"
                     button-label="Name"
                     item-label="Name"
                     tick-property="ticked">
                </div>
            </div>
            <div class="row modal-footer">
                <div>
                    <input type="button" value="{{buttonText}}" ng-click="processProd()" class="btn btn-default" style="margin-top: 7px;"/>
                </div>
            </div>
        </form>
    </div>
</div>


