

<div class="row fsEdit" style="visibility: visible; width: 100%" ng-controller="documentReqController">
    <div class=" modal-header">
        <div class="row">
            <div class="col-md-12">
                <h4 class="modal-title">{{docReq.Header}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form method="POST">
            <div class="row">
                <label class="control-label ">Application Stage *</label>
                <select ng-model="docReq.ImportStage" ng-options="stage as stage.Name for stage in appStages track by stage.ImportStageId" data-inset="true" class=" form-control" required>
                    <option value="">-- Select Application Stage --</option>
                </select>
            </div>
            <div class="row">
                <label class="control-label "> Document Type *</label>
                <select ng-model="docReq.DocumentType" ng-options="docType as docType.Name for docType in docTypes track by docType.DocumentTypeId" data-inset="true" class=" form-control" required>
                    <option value="">-- Select Document Type --</option>
                </select>
            </div>
            <div class="row modal-footer">
                <div>
                    <input type="button" value="{{buttonText}}" ng-click="processDocReq()" class="btn btn-default" style="margin-top: 7px;" />
                </div>
            </div>
        </form>
    </div>
</div>
